.firTool
{
  background-color:#000;

}

.secTool
{
    background-color:#373737;
    color:#fff;
   
    
   
}
.buttonActive
{
  font-size: 80%;
    
}
.main{

    background-color: #FCFCFC;
}
.active-list-item {
  background-color: #8DC63F !important; /* Note: You could also use a custom theme */
}