<mat-toolbar color="primary" class="firTool">
    <span></span>
  </mat-toolbar>
  <mat-toolbar color="secondary" class="secTool">
  <a  class="buttonActive" mat-button >Top Games</a>
    <a class="buttonActive" mat-button routerLink="newgames" routerLinkActive="active-list-item">New Games</a>
    <a class="buttonActive" mat-button >Slots</a>
    <a class="buttonActive" mat-button routerLink="jackpots" routerLinkActive="active-list-item">Jackpots</a>
    <a class="buttonActive" mat-button >Live</a>
    <a class="buttonActive" mat-button >BlackJack</a>
    <a class="buttonActive" mat-button >Roulette</a>
    <a class="buttonActive" mat-button >Table</a>
    <a class="buttonActive" mat-button >Poker</a>
    <a class="buttonActive" mat-button >Other</a>
  </mat-toolbar>